﻿
div.scene {
    /*border: 1px solid red;*/
    min-width: 345px !important;
}

.vizCanvas {
    /*border: 4px solid orange;*/

    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
    background: black;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px;
}

#webglContainer {
    /*border: 3px solid red;*/
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 0px;
    margin: 0px;
}


#adjacencyContainer{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0px;
    padding: 0px !important;

    overflow-y: auto;
    overflow-x: auto;
}

#adjacencyContainer table, th, td {
    border: 1px solid black;
}

#adjacencyContainer table, tr, thead, tbody{
    padding: 0px !important;
    margin: 0px !important;
}


#adjacencyContainer th, td {
    padding: 2px;
    margin: 0px !important;
}



.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    flex-direction: column;
}

.line {
    width: 100%; 
    height: 1px; 
    background: #757487; 
    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 20px;
}

/*
* === SIDE BARS ===
*/

nav.left {}

nav.left .menu_buttons {
    background-color: #913800;
}

nav.left div.menu_buttons button {
    color: #C2AEA2 !important;
    background-color: #994A19;
}

nav.left div.menu_buttons button:hover {
    background-color: #A36945;
}

nav.left div.menu_buttons button.active {
    background-color: #A36945;
}

nav.left div.dataTable {
    background-color: #913800;
    color: #F3C9EA;
}

nav.left div.dataTable li {
    border-bottom: 1px solid #AF8971;
    color: #C2AEA2 !important;
}

nav.left div.dataTable li.active {
    border-bottom: 1px solid #AF8971;
    border-right: 1px solid #AF8971; /*right border between menu items*/

    box-shadow: inset 7px 0 10px rgba(118, 57, 19, 0.65);
    text-shadow: 1px -1px 0px #AF8971;
}

nav.left  div.dataTable li:hover {
    box-shadow: inset 7px 0 10px rgba(118, 57, 19, 0.65);
}


/******************************/

nav.right {}

nav.right .menu_buttons {
    background-color: #768D00;
}

nav.right div.menu_buttons button {
    color: #B7BC9E !important;
    background-color: #829518;
}

nav.right div.menu_buttons button:hover {
    background-color: #909E42;
}

nav.right div.menu_buttons button.active {
    background-color: #909E42;
}

nav.right div.dataTable {
    background-color: #829518;
    color: #F3C9EA;
}

nav.right div.dataTable li {
    border-bottom: 1px solid #A1AA6E;
    color: #B7BC9E  !important;
}

nav.right div.dataTable li.active {
    border-bottom: 1px solid #A1AA6E;
    border-right: 1px solid #A1AA6E; /*right border between menu items*/

    box-shadow: inset 7px 0 10px rgba(104, 118, 19, 0.65);
    text-shadow: 1px -1px 0px #9fa772;
}

nav.right  div.dataTable li:hover {
    box-shadow: inset 7px 0 10px rgba(104, 118, 19, 0.65);
}

/*
* === Nav buttons ===
*/

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, 
    .btn:active:focus, .btn:focus {
    outline: 0 !important;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.focus, 
    .btn-default:active.focus, .btn-default:active:focus, .btn-default-default:focus {
    outline: 0 !important;
}

.btn-toolbar{
  text-align: center !important;
}​

.menu_buttons {
    display: block;
    padding: 2px;
    overflow: hidden;
    border-radius: 5px;
}

div.menu_buttons button {
    outline: none !important;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    border-radius: 5px;
}

/*
* === Data lists ===
*/


.filter {
    margin-top: 10px;
    margin-bottom: 0px;
}

div.dataTable {
    padding-top: 5px;
    padding-bottom: 5px;

    overflow-y: auto;
    /*max-height: 200px;/**/
}


div.dataTable ul {
    display:table; 
    margin: 0 auto;
    height: inherit;

    text-transform: uppercase;
}

div.dataTable li {
    padding: 3px 5px;
}

div.dataTable li.active {
    list-style-type: none !important;
    
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

div.dataTable li:hover {
    cursor: pointer;
}

/*
* === CONTROL ===
*/