﻿html {
	overflow-y: scroll;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;

    background-color:#221E6B !important;

}

/*
* === HEAD ===
*/

header {
    padding: 0.5%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    text-align: center !important;

    background: #3C3972;
}

h1 {
    text-align: center;
    max-height: inherit;

    color: #757487 !important;
}
img {
     margin: 0px;
}

/*
* === MAIN ===
*/

nav {
    padding: 2px;
    border-radius: 5px;    
    
    background: #3C3972;
}

nav hr {
    color: #57557A !important;
    border-style: solid;
    border-width: 1px;

    width: inherit !important;

    padding-left: 0px !important;
}

button {
    text-align: center;
}

/*
* === CONTROL & FOOTER ===
*/

footer {
    text-align: center;
    color: white;
}

/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/