﻿<!DOCTYPE html>
<html lang="en" ng-app="socialViz">
<head>
    <!-- boostrap requirement -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- meta -->
    <title>3DSV</title>
    <meta name="description" content="Social network visualization" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- icon -->
    <link rel="icon" type="image/png" href="icon.png">

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/classes.css" />
    
    <!-- javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="control.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- webgl -->
    <script src="js_libs/three.js" defer></script>
    <script src="js_libs/math.js" defer></script>
    <script src="js_libs/tableHeadFixer.js" defer></script>
    <script src='js_libs/stats.js' defer></script> <!-- REMOVE!!! -->
    <script src="js_visualization/SEAlgorithm.js" defer></script>
    <script src="js_visualization/visualization.js" defer></script>
    <script src="vizualizationControl.js" defer></script>
    <script src="adjacencyControl.js" defer></script>
</head>
<body>
    <header class="container">
            <h1>Social network</h1>
    </header>

    <main class="container-fluid" ng-controller="mainController">
        <div class="row">
            <nav class="col col-lg-2 col-md-3 col-sm-3 left" ng-left-nav>
                <div class="menu_buttons">
                    <button class="btn btn-default tablinks">WG Members</button>
                </div>
                <div class="filter">
                    <input type="search" class="form-control" ng-model="membersFilter" placeholder="Filter"/>
                </div>
                <div class="line"></div>
                <div class="dataTable" ng-style="{'max-height' : dataTableHeightLeft}">
                    <ul class="list-unstyled">
                        <li ng-repeat="member in members | filter : membersFilter" 
                            ng-click="setActiveLeft(member)" ng-class="{active: member.active}">
                            {{member.name}}
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="clearfix visible-xs"></div>
            <div class="scene col col-lg-8 col-md-6 col-sm-6">
                <div class="vizCanvas">
                    <div id="webglContainer" ng-vizualization></div>
                    <div id="adjacencyContainer" ng-adjacency style="background-color:deeppink; display:none"></div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>

            <nav class="col col-lg-2 col-md-3 col-sm-3 right" ng-right-nav>
                <div class="menu_buttons">
                    <button ng-repeat="interaction in socialInteractions" ng-class="{active: interaction==currActive}" 
                            ng-click="click(interaction)" class="btn btn-default tablinks">
                        {{interaction.name}}
                    </button>
                </div>
                <div class="filter">
                    <input type="search" class="form-control" ng-model="interactionsFilter" placeholder="Filter" />
                </div>
                <div class="line"></div>
                <div class="dataTable" ng-style="{'max-height' : dataTableHeightRight}">
                    <ul class="list-unstyled">
                        <li ng-repeat="interaction in socialInteraction | filter : interactionsFilter" 
                             ng-click="setActiveRight(interaction)" ng-class="{active: interaction.active}">
                            {{interaction.name}}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div id="control" class="container">
            <button ng-click="swapSpheres()">Swap spheres</button>
            <button ng-click="swapVizAdj()">Show {{nextWindow}}</button>
        </div>
    </main>

    <footer>
        All Rights <u>Not</u> Reserved <span id="copyleft">&copy;</span>
    </footer>

</body>
</html>
